#Telosys-Tools properties
#Sun Feb 26 16:28:26 CST 2017
ProjectVariable.PROJECT_NAME=debtmonkeys-web
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
ROOT_PKG=net.kumasi.debtmonkeys-web
TemplatesFolder=TelosysTools/templates
WEB=src/main/webapp
DownloadsFolder=TelosysTools/downloads
ProjectVariable.MYVAR=foo
RepositoriesFolder=TelosysTools
SRC=src/main/java
ENTITY_PKG=net.kumasi.debtmonkeys-web.domain
ProjectVariable.MAVEN_ARTIFACT_ID=debtmonkeys-web
TEST_RES=src/test/resources
ProjectVariable.REST_URL=http\://localhost\:8080/debtmonkeys-service/rest
ProjectVariable.PROJECT_VERSION=0.1
LibrariesFolder=TelosysTools/lib
ProjectVariable.DBID=1
TEST_SRC=src/test/java
ProjectVariable.V2=22
TMP=tmp
