		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'AccountOwner' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'accountOwner.id' | translate }}</th>
						<th>{{ 'accountOwner.userName' | translate }}</th>
						<th>{{ 'accountOwner.password' | translate }}</th>
						<th>{{ 'accountOwner.emailAddress' | translate }}</th>
						<th>{{ 'accountOwner.firstName' | translate }}</th>
						<th>{{ 'accountOwner.lastName' | translate }}</th>
						<th>{{ 'accountOwner.netMonthlyIncome' | translate }}</th>
						<th>{{ 'accountOwner.isadmin' | translate }}</th>
						<th><a class="btn btn-info" href='#/accountOwner/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="accountOwner in accountOwners">
						<td>{{accountOwner.id}}</td>
						<td>{{accountOwner.userName}}</td>
						<td>{{accountOwner.password}}</td>
						<td>{{accountOwner.emailAddress}}</td>
						<td>{{accountOwner.firstName}}</td>
						<td>{{accountOwner.lastName}}</td>
						<td>{{accountOwner.netMonthlyIncome | number }}</td>
						<td>{{accountOwner.isadmin}}</td>
						<td><a class="btn btn-info" href="#/accountOwner/{{accountOwner.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
