		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'AccountType' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'accountType.id' | translate }}</th>
						<th>{{ 'accountType.accountCode' | translate }}</th>
						<th>{{ 'accountType.accountName' | translate }}</th>
						<th><a class="btn btn-info" href='#/accountType/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="accountType in accountTypes">
						<td>{{accountType.id}}</td>
						<td>{{accountType.accountCode}}</td>
						<td>{{accountType.accountName}}</td>
						<td><a class="btn btn-info" href="#/accountType/{{accountType.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
